body {
    margin: auto;
    padding: 0px;
    background-color: white;
}
a {
  text-decoration: none;
}
#bar img {
    width: 25px;
}
#bar img:hover {
    transform: scale(1.1);
}
#bar {
    background-color:rgb(224, 224, 224);
}
#search:hover {
 transform: scale(1.1);
}
#shoppingcart:hover {
    transform: scale(1.1);
}
#heart:hover {
 transform: scale(1.1);
}
#login:hover {
    transform: scale(1.1);
   }
#signup:hover {
    transform: scale(1.1);
   }
   ul{
    list-style: none;
   }
   a{
    text-decoration: none;
    color: black !important
   }
   #myCarousel {
  height: 600px;
  background-color: white;
   }
     #Video {
        width:100%;
        height: 600px;
      }
      #myvideo {
        background-color: black;
      }
      #AppleWatch {
        width:100%;
        height: 600px;
      }
      #macbook {
        width:100%;
        height: 600px;
        background-color: black;
      }
      #first {
        height: 600px;
        background-color: black;
      }
      #first img {
        border-radius: 10%;
        margin-top: 2%;
      }
      #watchtext {
        color: white;
        font-weight: 800;
        text-align: center;
      }
      #watchtext a {
        font-size: 20px;
        color: white !important;
      }
      #second {
        height: 600px;
        background-color: white;
      }
      #second img {
        border-radius: 10%;
        margin-top: 3%;
        height: 400px;
        width: 100%;
      }
      #collegetext {
        color: black;
            font-weight: 800;
            text-align: center;
          }
          #collegetext a {
            font-size: 20px;
          }
    
    #third {
        height: 600px;
        background-color: whitesmoke;
      }
      #third img {
        border-radius: 10%;
        margin-top: 2%;
      }
      #Macbooktext {
        color: black;
        font-weight: 800;
        text-align: center;
      }
      #Macbooktext a {
        font-size: 20px;
      }
      #fourth {
        height: 600px;
        background-color:black;
      }
      #fourth img {
        border-radius: 10%;
        margin-top: 3%;
        height: 400px;
        width: 100%;
      }
      #ipadtext {
        color: white;
        font-weight: 800;
        text-align: center;
      }
      #ipadtext a {
        font-size: 20px;
        color: white !important;
      }
      .slider {
        width: 100%;
        height: 200px;
        position: relative;
        margin: auto;
        overflow-x: scroll;
        overflow-y: hidden;
      }
      
      .slider::-webkit-scrollbar {
        display: none;
      }
      
      .slider .slide {
        display: flex;
        position: absolute;
        left: 27;
        transition: 0.3s left ease-in-out;
        margin-top: 2%;
      }
      
      .slider .item {
        margin-right: 10px;
      }
      
      .slider .item:last-child {
        margin-right: 0;
      }
      .slide {
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
      #slider1 {
        width: 100%;
        height: 350px;
        position: relative;
        margin: auto;
        overflow-x: scroll;
        overflow-y: hidden;
      }
      
      .slider::-webkit-scrollbar {
        display: none;
      }
      
      #slider1 #slide1 {
        display: flex;
        position: absolute;
        left: 27;
        transition: 0.3s left ease-in-out;
        margin-top: 2%;
      }
      
      #slider1 .item {
        margin-right: 10px;
        margin-left: 15px;
        margin-top: 15px;
        border-radius: 10px;
      }
      #slider1 .item:last-child {
        margin-right: 0;
      }
      #slide1 {
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: gainsboro;
      }
      #text1 {
        font-size: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-left: 2%;
        margin-top: 2%;
      }
      #text2 {
        font-size: 30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-left: 2%;
        margin-top: 2%;
      }
      #text3 {
        font-size: 30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-left: 2%;
        margin-top: 2%;
      }
      #appletvlogo {
        justify-content: center;
        text-align: center;
      }
      #appletvtext {
        justify-content: center;
        text-align: center;
        font-size: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
      #slider2 {
        width: 100%;
        height: 475px;
        position: relative;
        margin: auto;
        overflow-x: scroll;
        overflow-y: hidden;
      }
      
      .slider::-webkit-scrollbar {
        display: none;
      }
      
      #slider2 #slide2 {
        display: flex;
        position: absolute;
        left: 27;
        transition: 0.3s left ease-in-out;
        margin-top: 2%;
      }
      
      #slider2 .item {
        margin-right: 10px;
        margin-left: 15px;
        margin-top: 15px;
        border-radius: 10px;
        margin-bottom: 15px;
      }
      #slider2 .item:last-child {
        margin-right: 0;
      }
      #slide2 {
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: black;
      }
      #seemore{
        color: white;
        background-color: black;
        border-radius: 15px;
        margin-left: 50%;
      }
    ul{
        list-style-type:none ;
    }
    footer {
      height: 200px;
    }
    .About {
      display: inline-block;
      width: 22%;
    }
    #main {
      font-size: 20px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 500;
    }
    footer p {
      font-size: 20px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 500;
    }